


.sidebar,.content-area{
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    font-family: 'Josefin Slab', serif;
}
.sidebar{
    width: 15%;
    background-color: red;
    text-align: justify;
    margin-left: -15px;
    margin-bottom: 0px;
}
.content-area{
    width: 82%;
   
}


.sidebar a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    padding: 15px;
}

.sidebar a:hover{
    color: aquamarine;
    opacity: 0.7;
}

.Details{
    padding: 30px;
    font-family:'Josefin Slab', serif ;
    margin-bottom: 20px;

}